{% extends '../templates/main-layout.html' %}

{% block title %}Please sign in{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="button" onclick="onlogin()">{{__('SignIn')}}</button>
</form>
{% endblock %}


{% block script %}
  {% parent %}
  <script>
    function onlogin() {
      var email = $('#inputEmail').val();
      var password = $('#inputPassword').val();
      if (email && password) {
        $.post( "/api/admin/login", {email:email, password: password})
        .done( function( data ) {
          window.location.href = "/admin?user=" + data.result.name;
        })
        .fail(function(err) {
          alert(err.responseText);
        });
      }
    }
  </script>
{% endblock %}

